.root {
  margin: 0;
  padding: 0;
}

.home-background {
  font-family: monospace;
  white-space: pre;
}

.drawing-area {
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.display-none {
  display: none;
}

.string-render-area {
  position: absolute;
}

.video-helper-elt-container {
  visibility: hidden;
}

.selected {
  color: limegreen;
}

.unselected {
  color: red;
}

.floored-purple {
  color: #7270B1;
}

.cbre {
  color: #009F6F;
}

/* https://css-tricks.com/overriding-default-button-styles/ */
button {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: white;
  color: black;
  font-family: monospace;
  white-space: pre;
  font-size: unset;
  cursor: pointer;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}