.root {
  margin: 0;
  padding: 0;
}

.home-background {
  font-family: monospace;
  white-space: pre;
}

.drawing-area {
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.display-none {
  display: none;
}

.string-render-area {
  position: absolute;
}

.video-helper-elt-container {
  visibility: hidden;
}

.selected {
  color: limegreen;
}

.unselected {
  color: red;
}

.floored-purple {
  color: #7270B1;
}

.cbre {
  color: #009F6F;
}

.color-cycle {
  color: black;
  animation: color-cycle-animation 20s infinite;
}

@keyframes color-cycle-animation {
  0% { color: hsl(225, 100%, 40%); }
  11% { color: hsl(270, 100%, 40%); }
  22% { color: hsl(315, 100%, 40%); }
  33% { color: hsl(360, 100%, 40%); }
  44% { color: hsl(45, 100%, 40%); }
  55% { color: hsl(90, 100%, 40%); }
  66% { color: hsl(135, 100%, 40%); }
  77% { color: hsl(180, 100%, 40%); }
  88% { color: hsl(225, 100%, 40%); }
}

/* https://css-tricks.com/overriding-default-button-styles/ */
button {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: white;
  color: black;
  font-family: monospace;
  white-space: pre;
  font-size: unset;
  cursor: pointer;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}