.root {
    margin: 10px;
    font-family:'Times New Roman', Times, serif
}

.image-container {
    margin: 10px;
}

.image-container img {
    padding: 5px;
}

.img-medium {
    width: 400px;
    max-width: 90%;
}

.img-large {
    width: 810px;
    max-width: 90%;
}